# His
auto-save-list
eshell
recentf

# Compiled code
*.elc
*.pyc

# Indexing
irony
semanticdb
rtagsdb

# Private
*token
bookmarks
snippets
url
*.data

# Garbage
thumbs
backup
*.txt
session.*

# Packages
elpa
package-quickstart.el

# lsp
eclipse.jdt.ls
workspace
.lsp-session*
.dap-breakpoints
.cache
.extension

# langtool
LanguageTool-*

# MISC
misc
forge-database.sqlite
transient
pyim
tramp
tramp-trunk
org-roam.db
eln-cache
projects

# ts
tree-sitter