# His
auto-save-list
eshell
recentf

# Compiled code
*.elc
*.pyc

# Indexing
irony
semanticdb
rtagsdb

# Private
*token
bookmarks
snippets
url
*.data

# Garbage
thumbs
backup
*.txt

# Packages
elpa

# lsp
eclipse.jdt.ls
workspace
.lsp-session*
.dap-breakpoints
.cache

# langtool
LanguageTool-*

# MISC
misc
forge-database.sqlite
transient
pyim
tramp
org-roam.db