# His
auto-save-list
eshell
recentf

# Compiled code
*.elc
*.pyc

# Indexing
irony
semanticdb
rtagsdb

# Private
*token
bookmarks
snippets
url
*.data

# Garbage
thumbs
backup
*.txt

# Packages
elpa

eclipse.jdt.ls